body{
   background: rgb(150, 147, 147);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 20px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
#nav-bar{
    position: sticky;
    width: 90%;
    z-index: 10;
}

.logo{
    padding-left: 100px;
}
.logo p{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
}
.logo p span{
    color: rgb(17, 235, 17);
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-right: 100px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;

}
.navbar ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #b90b0b;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.stages span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
    color: blue;
}
.image{
    width: 90%;
    align-items: center;
}
.image img{
    width: 100%;
    height: 300px;
}
.intro{
    width: 80%;
    background-image: linear-gradient(rgba(99, 112, 165, 0.8),rgba(72, 90, 163, 0.8)),url(ASSETS/pic10.jpg);
}
.intro h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35;
    color: #a6d10c;
}
.intro h5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
}
.safe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 90%;
    margin-top: -8px;
}
.safe .heading h1{
    font-family:'Times New Roman', Times, serif;

}
.dishes{
display: flex;
align-items: center;
justify-content: center;
padding:0 20px ;
gap: 10px;
flex-wrap: wrap;
}  
.dishes .dish{
    width: 300px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.dish:hover{
    background: rgba(88, 121, 170, 0.7);
    cursor: pointer;
}
.dish img{
    width: 100%;

}
.dish p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24;
    color: blue;

}
.stages{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    align-items: center;
    padding-top: 40px;
}
.stages  .resources span{
             font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
             
} 
.stages img{
    margin-top: 20px;
    width: 100%;
}
.stages h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(17, 235, 17);
    width: 100%;
    padding: 5px 0;
    color: #fff;
}
.container{
    display: flex;
    width: 80%;
    margin: 0%;
    margin-top: 5%;
    background-image: url('pic22.jpg');
}
.contact{
    width: 40%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size: xx-large;
}
p{
    font-size: larger;
    margin-top: 5%;
    color: #a6d10c;
}
.fill{
    width: 40%;
    color: rgb(50, 15, 204);
    font-size: 20px;
}
.fill input:hover{
    background-color: aqua;
    transition: 1s;
}
.fill input{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: none;
}
button{
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
    margin-left: 93%;
    width: auto;
    cursor: pointer;
    margin-bottom: 50px;
}
footer{
    background-color: white;
    padding-left: 400px;
    padding-right: 400px;
     margin-bottom: 0%;
     border-radius:10px;
     text-align: center;
     margin-top: 0%;
    
}
 .food img{
        width: 100%;
    
    }
    .food p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .title h1{
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #fff;
        display: flex;
        width: 100%;
    }
    .intro{
        text-align: center;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        

    }
    .foods{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0 10px ;
        gap: 10px;
        flex-wrap: wrap;
        }  
        .foods .food{
            width: 270px;
            background-color: azure;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }
/* ---services--- */
body{
    background-color: rgb(69, 121, 121);
}
#video-banner{
    background-color: #d595df;
}

.video-banner {
	width: 100%;
	height: 400px;
    overflow: hidden;
    margin: 0;  
    padding: 0;
}
.video-banner video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: 100% 100vh;
    margin-top: 0px;
    margin-bottom: 10vh;
}

#services{
    padding: 80px 0;
}
.service-img{
    width: 100px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    align-items: center;
}
#services button{
    align-items: center;
    width: auto;
	display: block;
	margin: 0 auto;
	padding: 7px;
	border: ipx solid grey;
	margin-bottom: 5px;
}
@media screen and (max-width: 640px){
     .navbar  .container{
        gap: 60px;
    }
    .container  .video-banner{
        width: 50%;
    }
    .food .slide-wrapper{
        margin: 0 0 30px;
    }
    .testimonials-section{
        display: none;
    }
}